table {
    margin: 10%;
    width: 75%;
}

.html,
body {
    width: 100%;
    height: 100%;
}

.gradient-custom {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    opacity: 0.7
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.title_color {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
}

.table_title {
    color: rgb(0, 0, 0);
}

test {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }

  .image {
    cursor: pointer;
  }


.title_color {
    text-align: center;
    font-size: 40px;
    text-align: center;
    color: rgb(228, 224, 224);
    text-shadow: -1px 0 black, 0 1px black,
        1px 0 black, 0 -1px black;
}


.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    margin-top: 100px;
}

/* Control the left side */
.left {
    left: 0;
    align-items: left;
    position: absolute;
    /*left: 180px;*/

}

/* Control the right side */
.right {
    right: 0;
    align-items: right;
    position: absolute;
    /*right: 20px;*/

}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 50px;
}