  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                <img class="image" src="./../../assets/lobtention-du-diplome.png" alt="no picture" style="width: 300px;" alt="logo">
                <h2 class="fw-bold mb-2 text-uppercase">Fr-Administration</h2>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <div>
                <p class="error mb-5" *ngIf="notLogged">Bad password, try again!</p>
              </div>
  
                <div class="form-outline form-white mb-4">
                  <input type="text" id="username" placeholder="My beautiful ID" class="form-control form-control-lg"/>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input type="password" id="password" placeholder="My strong password" class="form-control form-control-lg" />
                </div>
    
                <button type="button" class="btn btn-outline-light btn-lg px-5" (click)="login()">Login</button>

              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>