<app-nav></app-nav>

<!--<div *ngIf="dataSource==null">
    Error
</div>-->



<body *ngIf="dataSourceUser!=null">
    <section class="vh-100 gradient-custom">
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center ">

                <div class="split left">
                    <div class="centered">
                        <div class="card bg-dark text-white" style="border-radius: 2rem;">
                            <div class="card-body p-5 text-center">
                                style="margin-bottom: 30px;">


                                <header class="fw-bold text-uppercase user_sample" *ngIf="dataSourceUser!=null">
                                    User ID : {{dataSourceUser.id}}
                                </header>

                                <div>
                                    <div class="fw-bold parameter_sample">
                                        Lastname : {{dataSourceUser.lastname}}
                                    </div>

                                    <div class="fw-bold parameter_sample">
                                        Firstname : {{dataSourceUser.firstname}}
                                    </div>

                                    <div class="fw-bold parameter_sample">
                                        Age : {{dataSourceUser.age}}
                                    </div>

                                    <div class="fw-bold parameter_sample">
                                        Associations :
                                        <div *ngFor="let item of userAssociations">
                                            {{item}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>