.informations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.changes {
    display: flex;
    align-content: space-around;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}