
.changes {
    display: flex;
    align-content: space-around;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

table {
    margin: 10%;
    width: 75%;
}

.html,
body {
    width: 100%;
    height: 100%;
}

.gradient-custom {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    opacity: 0.7
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.user_sample{
    color: rgb(189, 181, 181);
    text-align: left;
    font-size: 30px;
    display: flex;
    flex-direction: column;


}
.parameter_sample{
    color: rgb(189, 181, 181);
    text-align: left;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.change_sample{
    color: rgb(32, 32, 32);
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.button_custom {
    background-color:#221d1f;
    border-color: #000000;
    opacity: 0.7;
    margin-top:10px
}

.margin_zero{
    margin-top: 0px;
    margin-bottom: 0px;
}

.informations {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.black_text {
    color: rgb(0, 0, 0);
}


.split {
    margin-top: 100px;
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    position: absolute;
    left: 100px;
}

/* Control the right side */
.right {
    right: 0;
    align-items: left;
    position: absolute;
    right: 100px;

}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}