table {
    margin: 10%;
    width: 75%;
}

.html, body {
    width: 100%;
    height:100%;
}

.gradient-custom {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    opacity: 0.7
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.title_color {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
}

.table_title {
    color: rgb(0, 0, 0);
}

test {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }

.home_image {
    width : 500px;
    height : 500px;
}

.welcome {
    font-size: 100px;
    text-align: center;
    color: rgb(196, 196, 196);
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
}